* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {

      overflow: hidden;
      background-image: url(assets/background5.jpg);
      background-size: cover;
    }

.header {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-end;
    top: 20px;
    left: 20px;
    z-index: 10;
    color: rgb(251, 96, 0);
    text-shadow: 2px 2px 4px rgba(47, 31, 31, 0.7);
    font-family: 'Ruslan Display';
      }

.header h1 {
        font-size: 36px;
        margin: 0;
        display: flex;
        justify-self: center;
        align-items: center;
      }

.header p {
    color: rgb(228, 46, 0);
    text-shadow: 2px 2px 4px rgba(47, 31, 31, 0.7);
      }
      
.instructions {
        font-size: 18px;
        margin-top: 10px;
      }
      

#gameCanvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    }

    #object {
        width: 200px;
        height: 200px;
        background: url('assets/witch.png') no-repeat center center;
        background-size: contain; 
        position: absolute;
        bottom: 100px;
        left: 100px;
    }
    
.arrows-panel {
        position: absolute;
        bottom: 50px; 
        right: 20px; 
        width: 230px; 
        height: 170px;
        z-index: 10;
        border:4pt solid rgb(251, 96, 0);
        border-radius: 4%;
      }

@keyframes smoke {
        0% {
          opacity: 0.8;
          transform: scale(0.5) translateY(0);
        }
        50% {
          opacity: 0.4;
          transform: scale(1) translateY(-20px);
        }
        100% {
          opacity: 0;
          transform: scale(1.5) translateY(-50px);
        }
      }
      
.smoke {
        position: absolute;
        width: 30px;
        height: 30px;
        background: rgba(94, 91, 91, 0.331);
        border-radius: 50%;
        animation: smoke 1.5s ease-out forwards;
        z-index: 0; 
      }
 